/* Navbar Started */
#Logo{
    width: 165px;
    height: 70px;
}

nav{
    margin-top: 5px;
    margin-left: 57px;
    margin-right: 57px;
    display: flex;
    padding: 10px;
    height: 90px;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 0.9rem;
}

a{
    padding: 10px 15px;
    position: relative;
    left: 80px;
    font-size: 0.9rem;
}

button{
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 20px;
    cursor: pointer;
}

#btn-order{
    background-color: #ff0000;
    border: none;
    padding: 12px 16px;
    align-items: center;
    display: inline-block;
    margin-left: 10px;
}
/* Navbar Ended */
