@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}
.bg-red{
   background-color: #ff0000; 
}
.bg-black{
    background-color: #000000;
}
.bg-white{
    background-color: #ffffff;
}
.bg-green{
    background-color: #00a94e;
}
.bg-grey{
    background-color: #ffffff0f;
}
.bg-transparent{
    background-color: transparent;
}
/* text-properties */
.text-none{
    text-decoration: none;
}
.text-white{
    color: white;
}
.text-black{
    color: black;
}
.text-red{
    color: #ff0000;
}
.text-grey{
    color: #808080;
}
.text-transparent{
    color: transparent;
}
.textalign-center{
    text-align: center;
}
.textalign-start{
    text-align: start;
}
.textalign-end{
    text-align: end;
}
/* flex properties */
.justify-center{
    justify-content: center;
}
.justify-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end;
}
.justify-around{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}
.justify-evenly{
    justify-content: space-evenly;
}
.align-center{
    align-items: center;
}
.align-start{
    align-items: flex-start;
}
.align-end{
    align-items: flex-end;
}
.align-content-start{
    align-content: flex-start;
}
.align-content-end{
    align-content: flex-end;
}
.align-content-center{
    align-content: center;
}
.align-content-around{
    align-content: space-around;
}
.align-content-between{
    align-content: space-between;
}
.align-content-evenly{
    align-content: space-evenly;
}
.gap1{
    gap: 30px;
}
.gap2{
    gap: 50px;
}
.gap3{
    gap: 70px;
}
.gap4{
    gap: 90px;
}
.gap5{
    gap: 110px;
}
/* border */
.border-white{
    border: 1px solid #ffffff;
}
.border-radius{
    border-radius: 20px;
}
/* margin */
.margin-left{
    margin-left: 5px;
}
.mx-1{
    margin-right: 10px;
    margin-left: 0px;
}
.mx-2{
    margin-right: 0px;
    margin-left: 10px;
}
.mx-3{
    margin-right: 20px;
    margin-left: 0px;
}
.mx-4{
    margin-right: 0px;
    margin-left: 20px;
}
.mx-5{
    margin-right: 30px;
    margin-left: 0px;
}
.mx-6{
    margin-right: 0px;
    margin-left: 30px;
}
.mx-7{
    margin-right: 40px;
    margin-left: 0px;
}
.mx-8{
    margin-right: 0px;
    margin-left: 40px;
}
.mx-9{
    margin-right: 50px;
    margin-left: 0px;
}
.mx-10{
    margin-right: 0px;
    margin-left: 50px;
}
.my-1{
    margin-top: 10px;
    margin-bottom: 0px;
}
.my-2{
    margin-top: 0px;
    margin-bottom: 10px;
}
.my-3{
    margin-top: 20px;
    margin-bottom: 0px;
}
.my-4{
    margin-top: 0px;
    margin-bottom: 20px;
}
.my-5{
    margin-top: 30px;
    margin-bottom: 0px;
}
.my-6{
    margin-top: 0px;
    margin-bottom: 30px;
}
.my-7{
    margin-top: 40px;
    margin-bottom: 0px;
}
.my-8{
    margin-top: 0px;
    margin-bottom: 40px;
}
.my-9{
    margin-top: 50px;
    margin-bottom: 0px;
}
.my-10{
    margin-top: 0px;
    margin-bottom: 50px;
}
/* padding */
.padding1{
    padding: 4px 6px;
}
.px-1{
    padding-right: 10px;
    padding-left: 0px;
}
.px-2{
    padding-right: 0px;
    padding-left: 10px;
}
.px-3{
    padding-right: 20px;
    padding-left: 0px;
}
.px-4{
    padding-right: 0px;
    padding-left: 20px;
}
.px-5{
    padding-right: 30px;
    padding-left: 0px;
}
.px-6{
    padding-right: 0px;
    padding-left: 30px;
}
.px-7{
    padding-right: 40px;
    padding-left: 0px;
}
.px-8{
    padding-right: 0px;
    padding-left: 40px;
}
.px-9{
    padding-right: 50px;
    padding-left: 0px;
}
.px-10{
    padding-right: 0px;
    padding-left: 50px;
}
.py-1{
    padding-top: 10px;
    padding-bottom: 0px;
}
.py-2{
    padding-top: 0px;
    padding-bottom: 10px;
}
.py-3{
    padding-top: 20px;
    padding-bottom: 0px;
}
.py-4{
    padding-top: 0px;
    padding-bottom: 20px;
}
.py-5{
    padding-top: 30px;
    padding-bottom: 0px;
}
.py-6{
    padding-top: 0px;
    padding-bottom: 30px;
}
.py-7{
    padding-top: 40px;
    padding-bottom: 0px;
}
.py-8{
    padding-top: 0px;
    padding-bottom: 40px;
}
.py-9{
    padding-top: 50px;
    padding-bottom: 0px;
}
.py-10{
    padding-top: 0px;
    padding-bottom: 50px;
}